.main-container{
    background-color: var(--color-dark);
    padding: var(--padding-primary);
    border-radius: var(--border-radius);
    margin-top: calc(var(--margin-primary)/4.5);
    

}
@media (prefers-color-scheme : light){

.main-container {
    background-color: #fcfeff38;
}
}