.main-hero{
    background:  url("../../assets/images/banner-bg.jpg") no-repeat top right/cover;
    background-color: var(--color-darkest);
    padding: var(--padding-primary);
    color: var(--color-light);
    border-radius: var(--border-radius);
    
}
.hero-text{
    max-width:500px;
    margin: calc(var(--margin-primary)/2) 0;

}
.hero-title{
    font-weight: var(--font-weight-normal);
    font-size:1.3rem;
    margin-bottom:25px;
}
.hero-subtitle{
    font-weight:var(--font-weight-bold);
    text-transform:uppercase;
    font-size:2.6rem;
    margin-bottom:40px;
    line-height:1.5;
}
.hero-subtitle span{
   color: var(--color-pink);
}

