#example-search-input {
  box-shadow: none;
  background-color: var(--color-dark);
  border: none;
  margin-left: 60px;
  margin-right: -60px;
}
.beforMargin::before {
  content: "";
  border-left: 1px solid #dee2e624;
  width: 1px;
  height: 50px;
}
input#example-search-input:focus {
  border: 1px solid #777 !important;
  outline: none !important;
}

@media screen and (max-width: 768px){
    a.navbar-brand,img.logo-img {
        width: 40%!important;
    }
    input#example-search-input {
        margin-left: 32px;
        margin-right: 0px;
        font-size: 0.8rem;
        padding: 5px 10px;
    }
    .input-group.w-25.ms-5.beforMargin {
        margin-left: -119px !important;
    }
   
    .beforMargin::before {
        margin-right: -10px !important;
   
}

}
@media screen and (max-width: 992px){

    a.navbar-brand,img.logo-img {
        width: 60%;
    }
    .input-group.w-25.ms-5.beforMargin {
        margin-left: -160px !important;
    }
    .beforMargin::before {
        margin-right: -40px;
   
}
.navbar-collapse {
   
    transition: 0.5s ease;
}
}
@media screen and (max-width: 1024px){
    #example-search-input {
  
        margin-left: 35px !important;
        margin-right: -10px !important;
    }
}

