.section-wrapper{
    background-color: var(--color-darkest);
    border-radius: var(--border-radius);
    padding: var(--padding-primary);
    margin-top: var(--margin-primary);

}
@media (prefers-color-scheme : light){
    .section-wrapper{
        background-color: #ffffff45;    }
        
}