:root{
    --color-bg-body:var(--color-darkest);
    --color-dark: #27292A;
    --color-darkest: #1F2122;
    --color-light : #FFFFFF;
    --color-pink:#EC6090;
    --color-SUB:#777;
    --distance-primary:50px;
    --padding-primary:var(--distance-primary);
    --margin-primary: var(--distance-primary);
    --border-radius: calc(var(--distance-primary)/2);
    --font-family-primary: 'poppins', san-serif;
    --font-weight-bold:900;
    --font-weight-normal:400;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
ul,a,p,h1,h2,h3,h4,h5,h6,a{
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--color-bg-body);
    font-family: var(--font-family-primary);
    color: var(--color-light)
    
}